name: deploy

on:
  release:
    types: [published]

jobs:
  pypi:
    runs-on: ubuntu-latest

    # Recommended: use a GitHub Environment, and ensure it matches PyPI's trusted publisher config
    environment:
      name: pypi
      url: https://pypi.org/p/pyterrier-generative

    # REQUIRED for Trusted Publishing
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: install-deps
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: build
        run: |
          python -m build

      - name: publish
        uses: pypa/gh-action-pypi-publish@release/v1
